wheel==0.36.2
attrdict==2.0.1
rauth==0.7.3
eliot==1.13.0
eliot-tree==21.0.0
psycopg2-binary==2.8.6
redis==3.5.3
requests==2.25.1
SQLAlchemy==1.4.17
trio==0.18.0
httpx==0.18.1
msgpack==1.0.2
pytz==2021.1
tractor==0.1.0a0
redio==0.5.2
./.build/redis-util-0.0.1.tar.gz
./.build/trio-util-0.0.1.tar.gz
./.build/util-shared-0.0.1.tar.gz
